aniso8601==5.1.0
asgiref==3.2.7
Django==2.2.10
django-debug-toolbar==2.2
django-filter==2.1.0
djangorestframework==3.11.0
graphene==2.1.5
graphene-django==2.2.0
graphql-core==2.3.1
graphql-relay==0.5.0
marshmallow==3.5.2
promise==2.3
python-dateutil==2.8.1
pytz==2020.1
relativetimebuilder==2.0.1
Rx==1.6.1
singledispatch==3.4.0.3
six==1.14.0
sqlparse==0.3.1
